@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bowl Game Fun</h1>
    <p class="lead">Welcome!</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            <li>Read the @Html.ActionLink("Rules", "Rules", "Home")</li>
            <li>Learn @Html.ActionLink("How To", "HowTo", "Home")...</li>
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) to create an account</li>
            <li>@Html.ActionLink("Pick", "MyPicks", "Picks") your winning teams, and rank your predictions</li>
            <li>Cheer on your favorite teams</li>
            <li>Have fun!</li>
        </p>
    </div>
</div>
