@{
    ViewBag.Title = "Game Rules";
}
<h2>@ViewBag.Title.</h2>

<h3>Rules</h3>

<ol>
    <li>
        Print the worksheet found on the upper right hand side of the @Html.ActionLink("My Picks", "MyPicks", "Picks") page. This worksheet lists all 40 participating bowl games. 
        The championship game is not included. 
    </li>
    <li> Choose which team you expect to win each game. The score of the game is not involved, only whether they win or lose.</li>
    <li>
        Decide which bowl game you have the most confidence in. For example, if you are 100% certain that Podunk U. will be the winner of the Toilet Bowl, 
        assign 41 points to that bowl game. 
    </li>
    <li>
        Continue to rank the remaining bowl games from 40 down to 1, 1 being the bowl game you have the least confidence in your selected team winning. 
        As the games progress you will be awarded your assigned points for each game <strong>your</strong> selected team wins. At the bottom of the worksheet you will 
        find numbers from 1 to 41 where you can track your selections to help reduce any duplications.
    </li>
    <li>
        You are now ready to enter your selections. On the @Html.ActionLink("My Picks", "MyPicks", "Picks") page, select the winning team for each bowl game by clicking on the appropriate team and 
        assign <strong>your</strong> points for that game by deleting the value found in each box and entering your value.
    </li>
    <li>
        Once you have properly completed entering all 41 games, a green circled checkmark will appear at the top of the page. 
        Otherwise it will notify you that you have not properly selected all 41 games and corrections need to be made. Now you can SAVE your work. 
        This is found at both the top and bottom of the page. <strong>BE SURE TO SAVE YOUR WORK</strong>.
    </li>
    <li>
        Once completed and saved, you can change your selections any time prior to the pool being closed 11:00 AM PST December 20th. Be sure to save any changes you make. 
        After this time, your selections will be locked in and you will not be allowed to change them. 
    </li>
    <li>
        After each bowl game is played, if you have selected the winning team, the website will award you the number of points that corresponds with your ranking score. 
        For example, suppose you selected Podunk U to win the Toilet Bowl and assigned 38 points to that game. If Podunk U is the winner, 
        then you will receive 38 points for that game. If their opponent won, you will receive 0 points for that game. 
    </li>
    <li>
        After all 41 games are played, the player with the most points wins.
    </li>
    <li>
        You can track your progress on the @Html.ActionLink("Leaderboard", "Leaderboard", "Picks") page. You will not only see your total points achieved, but also how many points you have 
        remaining and your winning percentage along with the points for all other participants
    </li>
</ol>
